/* about us */

.aboutus {
    margin-bottom: 3rem;

}

.aboutImg img {
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.counterHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
   
}
.counterHolder:nth-child(2) {
   border-left: 2px solid #767676;
   border-right: 2px solid #767676;
   padding: 0 3rem;
}

.counter {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary);
}

.counterTitle {
    text-align: center;
}

