/* FAQ */
.faq {
  margin-bottom: 3rem;
  padding-bottom: 4rem;
  background: linear-gradient(
    135deg,
    #2a2a2a 0%,
    #3a3a3a 100%
  );
  color: #e0004d;

  h2 {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .content {
    color: white;
    font-size: 24px;
  }

  .content p {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    margin-bottom: 25px;
  }

  .content p::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 1px;
    bottom: -10px;
    left: -5px;
  }
  .wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
  }
  
  .wrapper.is-open {
    grid-template-rows: 1fr;
  }
  
  .inner {
    overflow: hidden;
    margin-bottom: 50px;
  }

  svg {
    color: #e0004d;
    transition: all 200ms linear;
    margin-right: 10px;
  }

  .open-icon {
    transform: rotate(45deg);
  }
  
}

.faq h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

