/* Partners */

.partneri {
    margin-bottom: 3rem;

    .swiper {
        height: 150px;
    }

    img {
        object-fit: contain;
        width: 200px;
        height: 150px;
    }

}

.slick-slide {
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.partners img{
    width: 100px;
    transition: all 500ms ease-in-out;
}

.partners img:hover {
    transform: scale(1.1);
}
