/* whyUs */

.whyUs {
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding: 2rem 0;
    background: linear-gradient(
        135deg,
        #2a2a2a 0%,
        #3a3a3a 100%
      );
      color: #e0004d;
}

.whyUs h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.whyUs p {
    font-size: 0.9rem;
    color: var(--offwhite);
}

.whyUs img {
    border-radius: 1rem;
}

