@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* odmah koristi fallback font dok se pravi font ne učita */
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #e0004d;
  --dark: #2a2a2a;
  --offwhite: #faf9f6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  overflow-x: hidden!important;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
.container {
  max-width: 1440px;
}

h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: clamp(2.25rem, 1.8088rem + 1.7647vw, 2rem);
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--primary);
}

.cta {
  background-color: var(--primary);
  padding: 10px 15px;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.cta:hover {
  transform: scale(1.1);
}

.cta:active {
  transform: scale(1.05);
}

.CookieConsent div:nth-of-type(2) {
  display: flex;
}

.slick-slider {
  overflow: hidden;
}

.privacy-policy {
  h1 {
    color: var(--primary);
    font-size: 48px;
    font-weight: 700;
  }
  h2 {
    color: var(--dark);
    font-size: 24px;
    margin: 30px 0;
  }
}

@media (max-width: 768px) {
  .counterHolder {
    padding: 2rem 0;
  }
  .counterHolder:nth-child(2) {
    border-left: none !important;
    border-right: none !important;
  }
}
